%color__hover {
  color: #007a73;
}
%color__hover--bold {
  color: #116a65;
}

%color__bold {
  color: #333333;
}
%color__light {
  color: #4f4f4f;
}
%color__regular {
  color: #828282;
}

$white: #fff;
