%font__extra-light {
  font-family: 'Graphik';
  font-weight: 200;
  font-style: normal;
}
%font__light {
  font-family: 'Graphik';
  font-weight: 300;
  font-style: normal;
}
%font__regular {
  font-family: 'Graphik';
  font-weight: 400;
  font-style: normal;
}
%font__medium {
  font-family: 'Graphik';
  font-weight: 500;
  font-style: normal;
}
%font__semi-bold {
  font-family: 'Graphik';
  font-weight: 600;
  font-style: normal;
}

%font__size--14-16 {
  font-size: 14px;
  line-height: 16px;
}

%font__size--16-16 {
  font-size: 16px;
  line-height: 16px;
}

%font__size--18-22 {
  font-size: 18px;
  line-height: 22px;
}
