@import '../../global/global.scss';

.logo {
  text-align: center;

  &__link {
    @extend %font__extra-light;
    display: flex;
    justify-self: center;
    align-items: center;
  }
  svg {
    fill: #ef4056;
    margin-right: 5px;
    width: 30px;
    height: auto;
  }
  img {
    height: 25px;
  }
}
