@import '../../global/global';

.blogPost {
  width: 70%;
  text-align: center;
  &__category {
    font-size: 14px;
    padding: 10px 0;
  }
  &__title {
    letter-spacing: 0.5px;
    text-transform: capitalize;
    font-size: 30px;
    margin: 0;
  }
}
