@import '../../global/global.scss';

.SmallTitle {
    margin: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    @extend %font__semi-bold;
    font-size: 20px;
    @extend %color__regular;
}